@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar{
    background-color: v.$color1;
    width: 100%;
    @include m.tablet{
        max-width: 35rem;
    }
    
    h3{
        color: v.$color4;
        margin: 0;
        text-align: left;
        padding: 2rem;
        font-size: 2rem;
    }
    .sidebar-nav{
        margin-top: 5rem;
        
        flex-direction: column;
        
        a{
            
            color: v.$color4;
            padding: 1rem;
            font-weight: bold;
            transition-property: background-color;
            transition-duration: 300ms;
            text-align: left;
            width: 100%;
            &:hover{
                //background-color: v.$color5;
                background-color: #74d0ec33;
                width: 100%;
               
            }
        }
    }
  
}

