// tipos de fuentes
$fuentePrincipal:'Montserrat', sans-serif;
// colores

$color1:#123c55;
$color2:#12546a;
$color3:#147286;
$color4:#17a5a9;
$color5:#20dbcd;
$color6:#D2EEF7;

$naranjaOscuro:#F77F00;
$azulClaro:#2EC4B6;
$rojoRosado:#E71D36;
$azulOscuro:#002642;




$plomo:#efeaef;




$negro:#000000;
$blanco:#ffffff;
$gris: #EAE2B7;


// tamanos de telefonos para los media quereis
$telefono:480px;
$tablet:768px;
$desktop:992px;
$desktopXL:1200px;

